
body {
	background:#c3c1c1;
	font: Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:1.5em;
	color:#000000;
	
}


#pageWidth {
	margin: 100px 100px 100px 100px;
	padding: 10px 20px 32px 20px;
	background-color: #e8e5e4;
	border: 10px solid #5a5959;
} 

.searchContainer{	
	float: right;
	margin-right: 60px;
}

.searchContainer button{	
	background-color: #5a5959;
	width: 120px;
	height: 37px;
	 color: white;
}

.buttonContainer{
	padding-left:30px;
	padding-right: 20px;
	
}

.buttonContainer button{
	 background-color: #22b413;
	 height: 30px;
	 width: 120px;
	 color: white;
	 
}

.imageContainer{
	padding: 5px 5px 5px 5px;
	
}

.imageContainer img{
	height:250px;
	width:250px;
padding: 10px 20px 10px 20px;	
	
}

#content {
	padding:0 0 90px 0;
	background:#e8e5e4;
	
}
#mainContent article {
	margin-top:40px;
	padding: 10px 0 32px 40px;
	margin-bottom:30px;
	/*border-bottom:1px dashed #323232;*/
}
#mainContent article.last {
	padding-bottom:0;
	margin-bottom: 30px;
	border:none;
}



h2 {
	font-size:33px;
	color:#5a5959;
	line-height:1.2em;
	font-weight:bold;
	letter-spacing:-1px;
	margin-bottom:.5em;
	text-align:left; 
	padding:0px 0 0 20px;
}

