
body {
	background:#c3c1c1;
	font: Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:1.5em;
	color:#000000;
	
}


#pageWidth {	
	margin: 100px 100px 0px 100px;
	padding: 10px 20px 32px 20px;
	background-color: #e8e5e4;
	border: 10px solid #5a5959;
	/* height:1200px; */
} 

.searchContainer{	
	float: right;
	margin-right: 60px;
}

.searchContainer button{	
	background-color: #5a5959;
	width: 120px;
	height: 37px;
	 color: white;
}

.buttonContainer{
	padding-left:30px;
	padding-right: 20px;
	
}

.buttonContainer button{
	 background-color: #22b413;
	 height: 30px;
	 width: 120px;
	 color: white;
	 
}

/*#imageContainer{
	width:100%;
	height:auto;
	
}

.imageContainer img{
	height:250px;
	width:250px;
padding: 10px 20px 10px 20px;	
	
}*/




h2 {
	font-size:33px;
	color:#5a5959;
	line-height:1.2em;
	font-weight:bold;
	letter-spacing:-1px;
	margin-bottom:.5em;
	text-align:left; 
	padding:0px 0 0 20px;
}

